/* Media Queries para responsive design */
@media (max-width: 768px) {
    /* Oculta el menú de navegación en pantallas pequeñas */

    body {
        margin-top: 7.5rem;
    }

    .main-header {
        background-color: #fff;
        padding: 1.5rem 0;
        border-bottom: 1px solid #ddd;
    }

    .nav-menu {
        display: none;
        flex-direction: column;
        background-color: #fff;
        position: absolute;
        top: 60px;
        left: 0;
        width: 50%;
        padding: 1rem;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }

    /* Clase para mostrar el menú cuando esté abierto */
    .nav-menu.open {
        display: flex;
    }

    /* Muestra el icono de menú en pantallas pequeñas */
    .menu-icon {
        display: block;
    }
}


@media (max-width: 768px) {
    .products-container {
        flex-direction: column; /* Cambia la dirección del flex a columna en pantallas pequeñas */
        align-items: center; /* Centra los productos en el eje horizontal */
    }

    .product {
        width: 90%; /* Ancho del producto al 90% del contenedor */
        margin-bottom: 20px; /* Espacio entre productos */
    }

    .product-name {
        font-size: 18px; /* Reduce el tamaño de la fuente para el nombre del producto */
    }

    .price-container {
        flex-direction: column; /* Alinea los precios en columna */
        align-items: center; /* Centra los precios */
    }

    .old-price {
        font-size: 10px; /* Tamaño de fuente más pequeño para los precios */
    }

    .current-price {
        font-size: 16px; /* Tamaño de fuente más pequeño para los precios */
    }

    .product:hover {
        transform: translateY(-0px); /* Mueve el producto ligeramente hacia arriba */
        box-shadow: 0 0px 0px rgba(0, 0, 0, 0); /* Aumenta la sombra para dar un efecto de elevación */
    }

    .product-open-image {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        text-align: center;
    }

    .footer-logo img {
        margin: 0 auto 20px;
    }

    .footer div {
        margin-bottom: 20px;
    }
}



@media (max-width: 768px) {
    .product-open {
        width: 95%; /* Ancho casi completo para móviles */
    }

    .product-open-name,
    .product-open-description {
        font-size: 18px; /* Reducir el tamaño de la fuente en pantallas pequeñas */
    }

    .current-open-price {
        font-size: 16px; /* Tamaño de fuente más pequeño para precios en móviles */
    }

    .old-open-price {
        font-size: 11px; /* Tamaño de fuente más pequeño para precios en móviles */
    }
}

@media (max-width: 768px) {
    .sobrenosotros-open {
        width: 95%; /* Ancho casi completo para móviles */
    }

    .sobrenosotros-open-name,
    .sobrenosotros-open-description {
        font-size: 18px; /* Reducir el tamaño de la fuente en pantallas pequeñas */
    }
}

@media (max-width: 768px) {

    .centered-text {
        font-size: 4em; /* Tamaño del texto */
    }

    .skipintro-btn {
        padding: 18px 35px;
        font-size: 12px;
    }
    
}