/* Estilo general */

@font-face {
    font-family: 'Benzin';
    /* Nombre que le asignarás a la fuente */
    src: url('fonts/Benzin-ExtraBold.ttf') format('truetype');
    /* Ruta a la fuente */
}

@font-face {
    font-family: 'Pollyester';
    /* Nombre que le asignarás a la fuente */
    src: url('fonts/Pollyester.ttf') format('truetype');
    /* Ruta a la fuente */
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Benzin';
    letter-spacing: 1px;
}

body {
    margin-top: 8.55rem;
}

footer {
    background-color: #fff;
    text-align: center;
    padding: 0.7rem 0;
    font-size: 14px;
    width: 100%;
}

/* Barra de anuncios */
.top-bar {
    background-color: #111;
    color: #fff;
    text-align: center;
    padding: 0.7rem 0;
    font-size: 0.7rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.top-bar p {
    margin: 0;
    font-weight: bold;
}

#text {
    /* Tamaño de fuente del texto */
    transition: opacity 0.5s ease;
    /* Transición para la opacidad */
}

.hidden {
    opacity: 0;
    /* Opacidad cuando se aplica la clase "hidden" */
}



.main-header {
    background-color: #fff;
    padding: 2.25rem 0;
    border-bottom: 1px solid #ddd;
    position: fixed;
    top: 2.35rem;
    left: 0;
    right: 0;
    z-index: 1000;
}

.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    position: relative;
}

.nav-menu {
    display: flex;
    gap: 1.5rem;
}

.nav-menu a {
    text-decoration: none;
    color: #333;
    font-size: 0.8rem;
    font-weight: bold;
}

.nav-menu a:hover {
    text-decoration: underline;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.logo-img {
    width: 75px;
    height: auto;
}

.menu-icon {
    display: none;
    font-size: 1.5rem;
    color: #333;
    cursor: pointer;
}

/* Iconos de la derecha */
.nav-icons {
    display: flex;
    gap: 1.5rem;
}

.nav-icons a {
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
}

.nav-icons a:hover {
    color: #000;
}

.image-container {
    width: 100%;
    /* Asegura que el contenedor ocupe todo el ancho */
    overflow: hidden;
    /* Oculta cualquier parte de la imagen que se desborde */
}

.full-width-image {
    width: 100%;
    /* Hace que la imagen ocupe todo el ancho del contenedor */
    height: auto;
    /* Mantiene la proporción de la imagen */
    display: block;
    /* Evita espacios debajo de la imagen */
}


.products-container {
    display: flex;
    /* Usar flexbox para alinear los productos uno al lado del otro */
    justify-content: center;
    /* Centra los productos dentro del contenedor */
    align-items: flex-start;
    /* Alinea los productos en la parte superior */
    gap: 20px;
    /* Espacio entre los productos */
    padding: 20px;
    /* Espacio alrededor del contenedor */
}

.product {
    background-color: white;
    /* Fondo blanco para cada producto */
    border-radius: 8px;
    /* Bordes redondeados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    /* Sombra para el efecto de elevación */
    text-align: center;
    /* Centra el texto */
    padding: 20px;
    /* Espacio interno */
    width: 420px;
    /* Ancho fijo para los productos */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-a {
    color: inherit;
    /* Usa el color del elemento padre */
    text-decoration: none;
    /* Elimina el subrayado */
    font-weight: normal;
    /* Elimina cualquier estilo de negrita */
    background: none;
    /* Elimina cualquier fondo */
    outline: none;
    /* Elimina el borde de enfoque */
}

.product:hover {
    transform: translateY(-5px);
    /* Mueve el producto ligeramente hacia arriba */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    /* Aumenta la sombra para dar un efecto de elevación */
}

.product-image-fears {
    width: 100%;
    /* Imagen ocupa el 100% del ancho del contenedor del producto */
    height: auto;
    /* Mantiene la proporción de la imagen */
    border-radius: 8px;
    /* Bordes redondeados para la imagen */
}


.product-image-membersonly {
    width: 100%;
    /* Imagen ocupa el 100% del ancho del contenedor del producto */
    height: auto;
    /* Mantiene la proporción de la imagen */
    border-radius: 8px;
    /* Bordes redondeados para la imagen */
}


.product-name {
    font-size: 20px;
    /* Tamaño de fuente para el nombre del producto */
    margin: 10px 0;
    /* Margen vertical alrededor del nombre */
}

.price-container {
    display: flex;
    /* Usar flexbox para alinear precios uno al lado del otro */
    justify-content: center;
    /* Centra los precios dentro del contenedor */
    margin-top: 10px;
    /* Espacio por encima del contenedor de precios */
}

.product-price {
    margin: 0 10px;
    /* Margen horizontal entre los precios */
}

.old-price {
    margin-top: 6px;
    font-size: 12px;
    /* Tamaño de fuente para los precios */
    color: #888;
    /* Color gris para el precio anterior */
    text-decoration: line-through;
    /* Tachar el precio anterior */
}

.current-price {
    font-size: 18px;
    /* Tamaño de fuente para los precios */
    color: #333;
    /* Color del texto del precio actual */
    font-weight: bold;
    /* Hacer que el precio actual sea más destacado */
}


/* OTRAS COSAS */

.entrar-btn {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Centra el botón */
    padding: 15px 30px;
    font-size: 40px;
    color: white;
    background-color: #333;
    /* Color del botón */
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.entrar-btn:hover {
    background-color: #888;
    /* Color al pasar el mouse */
}

.skipintro-btn {
    z-index: 1000;
    position: fixed;
    /* Posiciona el texto de forma absoluta */
    bottom: 20px;
    /* Centro verticalmente */
    left: 20px;
    /* Centro horizontalmente */
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.skipintro-btn:hover {
    background-color: #888;
    /* Color al pasar el mouse */
}

.fullscreen-video {
    position: fixed;
    /* Fija el video en su posición */
    top: 50%;
    /* Centra verticalmente */
    left: 50%;
    /* Centra horizontalmente */
    width: 100vw;
    /* Ocupa el ancho completo de la ventana */
    height: 100vh;
    /* Ocupa la altura completa de la ventana */
    object-fit: cover;
    /* Asegura que el video cubra el área sin deformarse */
    transform: translate(-50%, -50%);
    /* Ajusta para centrar el video */
}

.fullscreen-image {
    position: fixed;
    /* Fija el video en su posición */
    top: 50%;
    /* Centra verticalmente */
    left: 50%;
    /* Centra horizontalmente */
    width: 100vw;
    /* Ocupa el ancho completo de la ventana */
    height: 100vh;
    /* Ocupa la altura completa de la ventana */
    object-fit: cover;
    /* Asegura que el video cubra el área sin deformarse */
    transform: translate(-50%, -50%);
    /* Ajusta para centrar el video */
}

.screen {
    opacity: 1;
    transition: opacity 1s ease;
}

.screen.hidden {
    opacity: 0;
    /* Oculta la pantalla */
    pointer-events: none;
    /* Desactiva los eventos de puntero */
}

.centered-text {
    position: absolute;
    /* Posiciona el texto de forma absoluta */
    top: 50%;
    /* Centro verticalmente */
    left: 50%;
    /* Centro horizontalmente */
    transform: translate(-50%, -50%);
    /* Ajuste para centrar el texto */
    font-size: 5em;
    /* Tamaño del texto */
    text-align: center;
    /* Centra el texto */
    opacity: 1;
    /* Opacidad inicial */
    transition: opacity 0.5s ease;
    /* Transición de opacidad */
    color: #fff;
}


.footer {
    background-color: #111;
    color: #fff;
    padding: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: left;
}

.footer-logo img {
    width: 150px;
    /* Ajusta el tamaño del logo */
    margin-right: 20px;
}

.footer h3 {
    margin-top: 0;
    font-size: 20px;
    font-weight: normal;
}

.footer a {
    font-family: Arial, sans-serif;
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.product-open-container {
    display: flex;
    flex-direction: column;
    /* Apila los precios uno debajo del otro */
    align-items: center;
    /* Centra los elementos horizontalmente */
    padding: 20px;
    /* Espacio por encima del contenedor */
}

.product-open {
    text-decoration: none;
    background-color: white;
    /* Fondo blanco para cada producto */
    border-radius: 8px;
    /* Bordes redondeados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    /* Sombra para el efecto de elevación */
    text-align: center;
    /* Centra el texto */
    padding: 20px;
    padding-bottom: 60px;
    /* Espacio interno */
    width: 700px;
    /* Ancho fijo para los productos */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-open-details {
    margin-top: -80px;
    background-color: #111;
    color: #fff;
    /* Fondo blanco para cada producto */
    border-radius: 8px;
    /* Bordes redondeados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    /* Sombra para el efecto de elevación */
    text-align: center;
    /* Centra el texto */
    padding: 5px;
    /* Espacio interno */
    width: 500px;
    /* Ancho fijo para los productos */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-open-image {
    width: 50%;
    /* Imagen ocupa el 100% del ancho del contenedor del producto */
    height: auto;
    /* Mantiene la proporción de la imagen */
    border-radius: 8px;
    /* Bordes redondeados para la imagen */
}

.product-open-name {
    font-size: 20px;
    /* Tamaño de fuente para el nombre del producto */
    margin: 10px 0;
    /* Margen vertical alrededor del nombre */
}

.product-open-description {
    font-size: 20px;
    /* Tamaño de fuente para el nombre del producto */
    margin: 10px 20px;
    /* Margen vertical alrededor del nombre */
    font-family: Arial, sans-serif;
    text-align: left;
    letter-spacing: 0.5px;
}

.product-open-price {
    margin: 0 10px;
    /* Margen horizontal entre los precios */
}

.old-open-price {
    margin-top: 6px;
    font-size: 12px;
    /* Tamaño de fuente para los precios */
    color: #888;
    /* Color gris para el precio anterior */
    text-decoration: line-through;
}

.current-open-price {
    font-size: 18px;
    /* Tamaño de fuente para los precios */
    color: #333;
    /* Color del texto del precio actual */
    font-weight: bold;
    /* Hacer que el precio actual sea más destacado */
}

.price-open-container {
    display: flex;
    /* Usar flexbox para alinear precios uno al lado del otro */
    justify-content: center;
    /* Centra los precios dentro del contenedor */
    margin-top: 10px;
    /* Espacio por encima del contenedor de precios */
}

.product-open-more-details {
    font-size: 20px;
    /* Tamaño de fuente para el nombre del producto */
    margin: 10px 0;
    /* Margen vertical alrededor del nombre */
}

.image-slider {
    position: relative;
    width: 100%;
    margin: auto;
    text-align: center;
}

.image-slider img {
    width: 100%;
    /* Se ajusta al tamaño del contenedor */
    height: auto;
    /* Mantiene proporciones */
}

button.prev,
button.next {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    color: black;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

button:hover {
    color: rgba(0, 0, 0, 0.8);
}


.sobrenosotros-open-container {
    display: flex;
    flex-direction: column;
    /* Apila los precios uno debajo del otro */
    align-items: center;
    /* Centra los elementos horizontalmente */
    padding: 20px;
    /* Espacio por encima del contenedor */
}


.sobrenosotros-open {
    background-color: white;
    /* Fondo blanco para cada producto */
    border-radius: 8px;
    /* Bordes redondeados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    /* Sombra para el efecto de elevación */
    text-align: center;
    /* Centra el texto */
    padding: 20px;
    /* Espacio interno */
    width: 1000px;
    /* Ancho fijo para los productos */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.sobrenosotros-open-image {
    width: 50%;
    /* Imagen ocupa el 100% del ancho del contenedor del producto */
    height: auto;
    /* Mantiene la proporción de la imagen */
    border-radius: 8px;
    /* Bordes redondeados para la imagen */
}

.sobrenosotros-open-name {
    font-size: 20px;
    /* Tamaño de fuente para el nombre del producto */
    margin: 10px 0;
    /* Margen vertical alrededor del nombre */
}

.sobrenosotros-open-description {
    font-size: 15px;
    /* Tamaño de fuente para el nombre del producto */
    margin: 10px 20px;
    /* Margen vertical alrededor del nombre */
    font-family: Arial, sans-serif;
    text-align: left;
    letter-spacing: 0.5px;
}

.footer-all {
    font-family: Arial, sans-serif;
    letter-spacing: 0.5px;
}